/* Desktop CSS*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,400italic,600italic,700italic,900,900italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	padding-top: 70px;
	text-align: left;
	font-family: Source Sans Pro;
	font-size: 160%;
}
@media (min-width: 768px) and (max-width: 1000px) {
    body {
        padding-top: 140px;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway;
}

ul.nav li:hover > ul.dropdown-menu {
  display: block;
}

/* Userpage CSS */
.spoiler {
  margin-top: 10px;
  width: 100%;
}

.panel {
  box-shadow: none !important;
}

#userpage-header {
	text-align: left;
	width: 100%;
	height: 120px;
}

#userpage-header p {
	float: left;
}

#username {
	float: left;
	padding-top: 20px;
}

#rank {
	position: relative;
	display: inline-block;
	text-align: right;
	float: right;
	top: -55px;
	line-height: 100%;
}

#friend-button {
	padding-top: 10px;
}

#user-avatar {
	float: left;
	margin-right: 20px;
}

.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}

#userpage-content {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
  width: 100%;
}

#userpage-plays {
	text-align: center;
}

#stats-value {
	text-align: right;
	white-space: nowrap;
}

#stats-name {
	text-align: left;
	width: 100%;
}

.column-left {
	float: left;
	width: 20%;
	/*padding-right: 30%;*/
}

.column-center {
	float: left;
	width: 20%;
	/*padding-right: 30%;*/
}


.column-right {
	float: right;
	width: 50%;
	text-align: center;
}

.plays-column-left {
	float: left;
	text-align: left;
	width: 80%;
	font-size: 85%;
}

.plays-column-right {
	float: right;
	text-align: right;
	width: 20%;
	position: relative;
	bottom: 4px;
}



/* General CSS */
.table td {
   text-align: left;
}

.table-75-center {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.table-50-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#content{
	min-width: 75%;
	margin: 0 auto;
}

.narrow-content {
	width: 50%;
	margin: 0 auto;
}

.wide-content{
	width: 100%;
	margin: 0 auto;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* Admin Panel Style */
#wrapper {
    position: relative;
    top: -20px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    background-color: #222222;
    text-align: left;
}

#sidebar-wrapper.collapse, #sidebar-wrapper.collapse.in {
    display: block !important;
}


#wrapper.toggled {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
	text-align: center;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:0px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.changelog-line {
	text-align: left;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e4e4e4;
}
.changelog-line:hover {
	background: #fbfbfb;
}
.gaugeChartLabel {
	font-weight: normal;
	color: #666;
}
.gaugeChartLabel::after {
	content: "%";
}

.big-arrow {
  font-size: 30pt;
  padding-left: 5px;
  padding-right: 5px;
  color: #555;
}
.big-arrow:hover {
  color: #222;
}
.tinyavatar {
  height: 42px;
  width: 42px;
}
.tt-menu {
  width:100%;
  text-align: left;
  margin-top: 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0px 8px 0 #999;
  background-color: #FFFFFF;
}
.tt-suggestion {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.tt-cursor {
  background-color: #EEE;
  border-radius: 4px;
}

.bubbles-container {
	margin-left: 25%;
	width: 50%;
}

.bubble{
	background-color: #fbfbfb;
	border-radius: 5px;
	box-shadow: 0 0 6px #B2B2B2;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	left: 60px;

	margin: 20px 45px 5px 20px;
}

.bubble::before {
	background-color: #fbfbfb;
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform:             rotate( 29deg ) skew( -35deg );
		-moz-transform:    rotate( 29deg ) skew( -35deg );
		-ms-transform:     rotate( 29deg ) skew( -35deg );
		-o-transform:      rotate( 29deg ) skew( -35deg );
		-webkit-transform: rotate( 29deg ) skew( -35deg );
	width:  20px;


	box-shadow: -1px 1px 1px 0 rgba( 178, 178, 178, .4 );
	left: -9px;
}

.circle {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 15px;
}


.line {
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #969696; text-align: center;
	display: inline-block;
}

.line-text {
	background-color: #FFFFFF;
	display: inline-block; /* Thank mr Howl */
	padding: 7px;
}

.support-color * {
	color: #E06767;
}

/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
    		left:0;
    		right:0;
        padding: 0;
        position: relative;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}

.coming-soon * {
	color: rgb(184, 184, 184);
}

.colucci {
	font-weight: normal !important;
}

.img-center {
	margin: 0 auto;
}

.teammate-name {
	font-size: 24px;
	font-family: Raleway;
	border-bottom: 2px dashed #616161;
}

a.silent {
	text-decoration: none;
	color: inherit;
}











.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	box-shadow: 5px 5px 5px lightgrey;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: left;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background-size: cover !important;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 15px 8px 10px;
}

.card.hovercard .info .title {
	width: 75%;
    margin-bottom: 4px;
	font-size: 20px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
	display: inline;
}

.play-download {
	width: 25%;
	float: right;
	text-align: right;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-circle {
	border-radius: 50%;
	width:32px;
	height:32px;
	line-height:18px;
}

.btn-pink {
	background-color: #E84F91;
	color: #FFFFFF;
}

.btn-pink:hover {
	background-color: #E73385;
	color: #FFFFFF;
}

.btn-orange {
	background-color: #FFA22D;
	color: #FFFFFF;
}

.btn-orange:hover {
	background-color: #FC912B;
	color: #FFFFFF;
}


/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #E73385;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #FFFFFF;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 11px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.52);
}

.popover {
	font-size: 12px;
}

#palloncini {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.half {
  width: 50%;
}

.online-circle {
  font-size: 50%;
  vertical-align: middle;
  color: #5FC79C;
  margin-right: 3px;
}

.fa-bullet-list {
  font-size: 50%;
  vertical-align: middle;
}

.small-br {
  margin-bottom: 1%;
}

.table.edit-user>*>tr>td:first-child {
    width: 35%;
}

.code {
    white-space: pre-wrap;
    font-family: 'Space Mono', monospace;
    background-color: #fcfcfc !important;
    border: 1px solid gray !important;
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    -webkit-tab-size: 2;
}

.badguy {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.mobile-flex>* {
    margin: 2px;
}

.btn-group-justified {
    width: auto;
}

.navbar-toggle>.glyphicon {
    color: white;
    margin: 0;
    padding: 0;
}

.navbar-toggle.with-icon {
    padding: 5px 13px 5px 13px;
}


.twitter-typeahead>input {
    margin-top: 10px;
    width: 230px;
}

.bottom-fixed.enabled {
    position: fixed;
    bottom: 0;
    width: 50%;
    left: 250px;
    right: 0;
    margin: 0 auto;
}

.bottom-fixed.enabled>ul {
    margin-bottom: 5px;
}

.bottom-padded.enabled {
    margin-bottom: 300px;
}

.btn.unpin {
    right: 8px;
    position: absolute;
}

.mobile-only {
    display: none;
}

tr.text-center > td {
    text-align: center;
}

#ranktable {
    width: 75%;
    margin-left: 15%;
}

.datetimecontainer>input {
    display: inline-block;
}

.datetimecontainer>input:first-child {
    width: 40%;
}

.datetimecontainer>input:last-child {
    width: 20%;
}

.datetimecontainer>span {
    margin: 0 10px 0 10px;
}

.anticheattable {
    width: 100%;
}

.anticheattable, .anticheattable th, .anticheattable td {
    border: 1px solid gray;
}

.anticheattable td, div.padded {
    padding: 5px;
}

tr.bold>* {
    font-weight: bold;
}

#pipoli .panel {
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .mobile-only {
        display: initial;
    }

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100%;
        position: relative;
        height: auto;
        margin-top: 0;
        overflow-y: visible;
        position: fixed;
        top: 0;
    }

    #sidebar-wrapper.collapse.in {
        display: block !important;
    }

    #sidebar-wrapper.collapse {
        display: none !important;
    }

    .sidebar-nav {
        position: relative;
        width: 100%;
        padding-bottom: 20px;
    }

    .table-50-center, .table-75-center {
        width: 100% !important;
    }

    .table>tbody>tr>td {
        display: block;
        border-top: none;
    }

    .table>*>tr {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }

    td>p, td {
        padding: 0 !important;
        margin: 1px 0 1px 0 !important;
    }

    td>.btn-group {
        width: 100%;
    }

    .table>*>tr>td>p {
        text-align: center;
    }

    .table>*>tr>td:first-child {
        font-weight: 600;
    }

    .btn-group-justified {
        width: 50%;
        margin: 0 auto;
    }

    .btn-group-justified>.btn {
        border-radius: 0;
    }

    .mobile-flex {
        display: flex;
        flex-direction: column;
    }

    .mobile-flex>* {
        margin: 2px 0 2px 0;
    }

    .modal-dialog {
        margin-top: 50%;
    }

    tr.single-row {
        display: flex;
        flex-direction: row;
    }

    tr.single-row>td {
        margin-right: 10px !important;
    }

    .no-mobile {
        display: none;
    }

    .bubbles-container {
        margin: 0;
        width: 100%;
    }
    
    .bubble {
        width: 78%;
    }

    .narrow-content {
        width: 100%;
    }

    .btn-group-justified {
        width: 100%;
    }

    .table.edit-user>*>tr>td:first-child {
        width: 100%;
    }
    
    .twitter-typeahead>input {
        margin-left: 15px;
    }

    .ripple-logo {
        width: 90% !important;
    }

    .bottom-padded.enabled, .bottom-fixed.enabled {
        position: relative;
        margin: 0;
        left: 0;
        width: auto;
    }

    #ranktable {
        width: 100%;
        margin: 0 auto 50px auto;
    }

    #ranktable .mobile-only + * {
        float: right;
        margin-right: 10px;
    }

    #ranktable .mobile-only {
        float: left;
        text-align: left !important;
        margin-left: 10px;
        font-weight: 600;
    }

    #ranktable tr {
        margin-bottom: 10px;
    }
    
    #ranktable td {
        margin: 0 !important;
    }
}